.colors-section {
  .colors-container {
    margin: 2rem 0;
    padding: 2rem 0;
  }
}

.colors-row {
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
}

.box {
  display: flex;
  align-items: center;
  gap: 1rem;

  .color {
    width: 90px;
    height: 50px;
  }
}

.brand {
  background: var(--brand);
}
