.colors-section {
  .colors-container {
    margin: 2rem 0;
    padding: 2rem 0;
  }
}

.colors-row {
  display: flex;
  gap: 3rem;
  margin: 1rem 0;
}

.box {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;

  p {
    width: 10ch;
  }

  .color {
    width: 110px;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    justify-content: center;
  }
}

.brand {
  background: var(--brand);
}

.brand-light {
  background: var(--brand-light);
}

.brand-dark {
  background: var(--brand-dark);
}

.success {
  background: var(--func-success);
}

.warning {
  background: var(--func-warning);
}

.info {
  background: var(--func-info);
}

.error {
  background: var(--func-error);
}

.acce-primary {
  background: var(--accent-primary);
}
.acce-secondary {
  background: var(--accent-secondary);
}
.acce-tertiary {
  background: var(--accent-tertiary);
}
.acce-quaternary {
  background: var(--accent-quaternary);
}

.neu-dark {
  background: var(--neutral-dark);
}
.neu-medium {
  background: var(--neutral-medium);
}
.neu-light {
  background: var(--neutral-light);
}
