/* Main block color section */
.colors-wrapp {
}

.colors-block-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

/* Each individual box */
.color-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;

  .color-sample {
    width: 110px;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    justify-content: center;
  }

  .color-name {
    width: 10ch;
  }
}

/* Inserting each box the color it needs */
.brand {
  background: var(--brand);
}

.brand-light {
  background: var(--brand-light);
}

.brand-dark {
  background: var(--brand-dark);
}

.success {
  background: var(--func-success);
}

.warning {
  background: var(--func-warning);
}

.info {
  background: var(--func-info);
}

.error {
  background: var(--func-error);
}

.acce-primary {
  background: var(--accent-primary);
}
.acce-secondary {
  background: var(--accent-secondary);
}
.acce-tertiary {
  background: var(--accent-tertiary);
}
.acce-quaternary {
  background: var(--accent-quaternary);
}

.neu-dark {
  background: var(--neutral-dark);
}
.neu-medium {
  background: var(--neutral-medium);
}
.neu-light {
  background: var(--neutral-light);
}
