/******************************************
*******Styles for the Dashboard page*******
******************************************/
main {
  display: flex;
  justify-content: center;
}

/******************************************
************Dashboard container************
******************************************/
.data-wrapp {
  max-width: 950px;
  margin: 0;
}

.dasboard-ui-row {
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  max-width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 0;
  position: relative;
}

.dashboard-chart-box {
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.037);
  flex-direction: column;
  border-radius: 15px;
  padding: 2rem 1rem;
  background: white;
}

/* Styles for the 3 different charts containers */
.small {
  height: 200px;
}

.large {
  width: 100%;
  max-width: 850px;
}

.medium {
  width: 100%;
  max-width: 415px;
  display: flex;
}

/* Styles for the horizontal bar chart */
#color-dropdown {
  position: absolute;
  left: 75%;
  top: 50px;
  font-family: Arial, sans-serif;
}

.dropdown-toggle {
  background-color: #4d52ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Styles for the Line chart doubl value chart */
.dropdown-menu {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%; /* Aparece debajo del botón */
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 5px 0;
}

.dropdown-item {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Mostrar el menú cuando se hace clic */
.dropdown.active .dropdown-menu {
  display: block;
}

.data-dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ff4d52; /* Borde de color personalizado */
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Estilo cuando el select es enfocado */
.data-dropdown:focus {
  border-color: #ff4d52;
  box-shadow: 0 0 5px rgba(255, 77, 82, 0.5);
}

/* Estilo de las opciones dentro del select */
.data-dropdown option {
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}

/* Cambio de color de las opciones cuando se pasa el ratón */
.data-dropdown option:hover {
  background-color: #f1f1f1;
}

/******************************************
*************Requirement list*************
******************************************/
aside {
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.requirement-wrapper {
  height: min-content;
  width: 100%;
  min-width: 330px;
  padding: 2rem 3rem;
  background: white;
  margin-top: 197px;
  position: sticky;
  border-radius: 15px;
  top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.037);
  font-size: 1.2rem;
}

.requirement-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
