.dasboard-ui-row {
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  max-width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

.dashboard-chart-box {
  overflow: hidden;
  flex-direction: column;
  border-radius: 5px;
  padding: 2rem 1rem;
  background: white;
}

/* just for small charts */
.small {
  height: 200px;
}

/* just for large charts */
.large {
  width: 100%;
  max-width: 850px;
}
