/* ^ Styles for all charts */
.dashboard-row {
  background-color: white; /* Fondo blanco */
  border: 1px solid rgba(0, 0, 0, 0.093); /* Borde de 1px negro */
  padding: 2rem 1rem; /* Padding de 1rem */
  border-radius: 15px;
  margin-bottom: 2rem;
  overflow-x: auto; /* Habilita desplazamiento horizontal si el gr치fico es m치s grande que el contenedor */
}

.chart-title {
  font-weight: bold;
  font-size: 16px;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  pointer-events: none; /* Impide que el tooltip interfiera con otros eventos */
  font-size: 12px;
}

/* * Chart 1 styles */
.line-chart {
  svg {
    max-width: 1000px;
  }
}

/* * Chart 2 styles */
.legend-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px; /* A침adimos un margen para separarla del gr치fico */
  padding-top: 20px;
}

.legend-container .legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-container .legend-item rect {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.legend-container .legend-item text {
  font-size: 14px;
  font-weight: normal;
}
/* * Chart 3 styles */
.bar-chart {
  position: relative;
  width: 100%; /* Ensure it takes full width */
  height: 100%; /* Or define a specific height */
}
/* * Chart 4 styles */
/* * Chart 5 styles */
/* * Chart 6 styles */
