/* main block of laout */
.layout-wrapp {
}

/* Layout */
.grid-layout {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.grid-layout-row {
  display: flex;
  justify-content: space-around;
  background: #bcdba8;
  padding: 1rem 1.2rem;
  gap: 2rem;
  margin: 1rem 0;
}

.block-layout {
  padding: 1rem;
  background: #d8eacc;
  width: 100%;
  text-align: center;
}

/* Contenedor para la tabla */
.table-responsive {
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  margin-top: 3rem; /* Espacio en la parte superior */
}

.breakpoints-table {
  width: 100%; /* Cambia a 100% para que ocupe todo el ancho disponible */
  max-width: 800px; /* Mantén el ancho máximo */
  text-align: left;
  border-collapse: collapse; /* Opcional: colapsar bordes */
}

.breakpoints-table thead {
  background: #bcdba8;
}

.breakpoints-table thead th {
  padding: 1rem 0.5rem; /* Aplicar padding directamente a <th> */
}

td {
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.345);
}

/* Estilos adicionales para responsividad */
@media (max-width: 600px) {
  .breakpoints-table {
    display: block;
    overflow-x: auto;
    font-size: 1.2rem;
  }
}
