.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  li a {
    border-bottom: 3px solid transparent;
  }

  li a:hover {
    border-bottom: 3px solid var(--brand);
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }
}

/* MOBILE */
.mobile-nav {
  display: none; /* Ocultar menú móvil por defecto */
  position: absolute;
  padding: 2rem;
  background-color: white; /* Cambia según tu diseño */
  right: 0;
  top: 65px; /* Ajusta según la altura de tu cabecera */
  right: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 9;
  ul li {
    margin: 2rem 0;
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 3rem;
  color: #d9d9d9;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 699px) {
  .nav-links {
    display: none; /* Ocultar menú normal en móviles */
  }

  .menu-toggle {
    display: block; /* Mostrar botón de menú */
  }

  .mobile-nav.active {
    display: block; /* Mostrar menú móvil cuando está activo */
  }
}

.btn-dashboard {
  background: var(--brand);
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 3px;
}
