/* Main block color section */
.typography-wrapp {
}

/* Intro section */
.typography-block-intro {
  .heading-one-allura {
    font-weight: bold;
    font-size: 7rem;
    font-family: "Allura", cursive;
  }

  .heading-two-monserrat {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
  }

  .regular-one-open {
    font-size: 2.5rem;
  }
}

/* typescale section */
.typography-block-typescale {
  margin-bottom: 5rem;
  .typescale-chart {
    max-width: 800px;
  }

  .type-chart-row {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.345);

    .headingOne {
      font-size: 7rem;
      font-family: "Allura", cursive;
      font-weight: bold;
    }

    .headingTwo {
      font-family: "Montserrat", sans-serif;
      font-size: 4rem;
      font-weight: bold;
    }

    .headingThree {
      font-family: "Montserrat", sans-serif;
      font-size: 3.5rem;
      font-weight: bold;
    }

    .headingFour {
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      font-weight: bold;
    }

    .headingFive {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
    }

    .buttons {
      font-weight: bold;
    }

    .type-chart-row-name {
      margin: 0;
    }

    .type-chart-row-title {
      width: 50%;
      margin: 0;
    }

    .type-chart-row-size {
      width: 25%;
      margin: 0;
    }
  }
}

/* paragraphs section */
.typography-block-paragraphs {
}
