.typography-section {
  h4 {
    margin-bottom: 2rem;
  }
}

.block {
  margin: 10rem 0;
}

.fake-allura {
  font-family: "Allura", cursive;
  font-size: 7rem;
}

.fake-monserrat {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
}

.fake-open {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
}
