.data-wrapp {
  width: 100%;

  .graph-container {
    img {
      max-width: 800px;
    }

    p {
      width: 85ch;
    }
  }
}

/* Details of Scatter Plot */
.circle {
  fill: #ff4d52; /* Color de los círculos */
}
.axis-label {
  font-size: 14px;
  font-weight: bold;
}
