.data-visualization {
  width: 100%;

  .graph-container {
    margin-bottom: 10rem;
    img {
      max-width: 800px;
    }

    p {
      width: 85ch;
      line-height: 1.6;
      margin-bottom: 2rem;
    }
  }
}

/* Line chart tooltip */
