html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
}

p {
  margin: 0;
  padding: 0;
  color: var(--primary-color-light);
}

h1,
h2,
h3,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
