html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h3,
h4,
p {
  margin: 0;
  line-height: 1.8;
  padding: 0;
}

p + p {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: var(--neutral-dark);
  font-weight: bold;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 7rem;
  font-family: "Allura", cursive;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: normal;
}

h5 {
  font-size: 1.4rem;
}
