.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.uti_padding {
  padding: 1rem 4rem;
}

/* Until 1280 */
@media screen and (max-width: 1280px) {
  .uti_padding {
    padding: 2rem 3rem;
  }
}

/* Until 768 */
@media screen and (max-width: 768px) {
  .uti_padding {
    padding: 2rem 2rem;
  }
}

/* Until 601 */
@media screen and (max-width: 601px) {
  .uti_padding {
    padding: 1rem 2rem;
  }
}
