:root {
  /* Brand Colors */
  --brand: #ed1c24;
  --brand-dark: #a31418;
  --brand-light: #ff4d52;

  /* Functional Colors */
  --func-success: #5cb85c; /* Success */
  --func-warning: #f0ad4e; /* Warning */
  --func-info: #5bc0de; /* Infomation */
  --func-error: #d9534f; /* Error */

  /* Accent Colors */
  --accent-primary: #1c24ed;
  --accent-secondary: #22ed1c;
  --accent-tertiary: #52ff4d;
  --accent-quaternary: #4d52ff;

  /* Neutral Colors */
  --neutral-dark: #1c1f2c;
  --neutral-medium: #2d2d39;
  --neutral-light: #a0a0a0;
  --bg-color: #fafafa;
}
