@import url(base/typography.css);
@import url(base/utilities.css);
@import url(base/variables.css);

@import url(components/buttons.css);
@import url(components/colors.css);
@import url(components/components.css);
@import url(components/hero.css);
@import url(components/layout.css);
@import url(components/typography.css);
@import url(components/visualization.css);
@import url(components/nagivation.css);

@import url(layout/footer.css);
@import url(layout/header.css);

/* Reset values */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

/*missing alt attribute*/
img:not([alt]) {
  outline-offset: 0.5rem;
  outline: 0.5rem dashed red;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 1.5rem;
  outline: 0.5rem solid blue;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

main {
  padding: 0 6rem;
}
